@media only screen and (max-width: 540px) {

    /*--- Box with input and buttons ---*/

    form {
        display: flex;
        flex-direction: column;
    }

    #inputs {
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 20px;
        padding: 4px;
    }

    form {
        border: 0;
        border-radius: 9px;
        padding: 0;
    }

    form:hover,
    form:active {
        border: 0;
    }

    /*--- All inputs ---*/

    #inputs {
        flex: 1;
        border: 2px solid #DDDDDD;
        border-radius: 9px;
    }

    #inputs:hover,
    #inputs:active {
        border: 2px solid rgb(178, 181, 182);
    }

    #inputs input {
        font-size: 14pt;
        border: 0;
        padding: 15px;
    }

    /*--- Submit button ---*/

    button[type=submit] {
        width: 100%;
        height: 60px;
        border-radius: 9px;
    }

    /*--- Invalid ---*/

    .invalid,
    .invalid:hover {
        border: 0;
    }

    .invalid #inputs
    {
        border: 2px solid #FF3C00;
        transition: .5s;
    }

    /*--- Valid ---*/

    .valid,
    .valid:hover {
        border: 0;
    }

    .valid #inputs {
        border: 2px solid #33A50E;
        transition: .5s;
    }

    /*----------------*/
    /*--- Messages ---*/

    .messages {
        /* max-width: none; */
        width: 100%;
        position: fixed;
        z-index: 9999;
        top: 0;
        padding-right: 20px;
        padding-left: 20px;
        margin-top: 20px;
        text-align: center;
    }
}