/* General Layout */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

html,
body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    padding: 0;
    line-height: 1.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
}

.content,
footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

/*-------------------*/
/*--- Content Box ---*/

.content {
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

/*--------------*/
/*--- Footer ---*/

footer {
    height: 90px;
    padding: 30px;
    font-size: 14px;
}

nav ul li {
    display: inline;
    padding: 10px;
}

/*----------------------------------*/
/*--- Box with input and buttons ---*/

form,
#inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

#inputs {
    border: 0;
}

form {
    max-width: 720px;
    width: 100%;
    margin-top: 100px;
    border: 2px solid #DDDDDD;
    border-radius: 9px;
    padding: 4px;
    -webkit-transition: .5s;
    transition: .5s;
}

form:hover,
form:active {
    border: 2px solid #B2B4B4;
    -webkit-transition: .5s;
    transition: .5s;
}

/*--- All inputs ---*/

#inputs {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#inputs input {
    font-size: 14pt;
    border: 0;
    padding: 15px;
}

/*--- URL input ---*/

#inputs #url {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-transition: .5s;
    transition: .5s;
}

#inputs #url::-webkit-input-placeholder {
    color: #cccccc;
    opacity: 1;
    font-size: 14pt;
}

#inputs #url:-ms-input-placeholder {
    color: #cccccc;
    opacity: 1;
    font-size: 14pt;
}

#inputs #url::placeholder {
    color: #cccccc;
    opacity: 1;
    font-size: 14pt;
}

/*--- Reset button X ---*/

#reset {
    display: none;
    opacity: .2;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    width: 50px;
    border: 0;
    background: none;
    cursor: pointer;
}

#reset:hover {
    opacity: .5;
    -webkit-transition: .5s;
    transition: .5s;
}

.icn-cross {
    height: 18px;
    width: auto;
}

/*--- Submit button ---*/

button[type=submit] {
    width: 140px;
    background: #33A50E;
    color: white;
    font-size: 14pt;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 500;
    border: 0;
    border-radius: 5px;
    -webkit-transition: .5s;
    transition: .5s;
    cursor: pointer;
}

button[type=submit]:disabled,
button[type=submit]:disabled:hover {
    background: #CCCCCC;
    cursor: default;
}

button[type=submit]:hover {
    background: #3DBA0F;
}

.icn-pdf {
    height: 24px;
    width: auto;
    margin-right: 10px;
}

/*------------------*/
/*--- Statements ---*/

/*--- Invalid ---*/

.invalid,
.invalid:hover {
    border: 2px solid #FF3C00;
    -webkit-transition: .5s;
    transition: .5s;
}

/*--- Valid ---*/

.valid,
.valid:hover {
    border: 2px solid #33A50E;
    -webkit-transition: .5s;
    transition: .5s;
}

/*----------------*/
/*--- Messages ---*/

.messages {
    max-width: 720px;
    width: 100%;
    height: 62px;
    margin-top: 6px;
    font-size: 12pt;
    -webkit-transition: .5s;
    transition: .5s
}

.error {
    width: 100%;
    border-radius: 8px;
    -webkit-box-shadow: 0px 2px 40px rgba(0, 0, 0, .1);
    box-shadow: 0px 2px 40px rgba(0, 0, 0, .1);
    display: none;
    opacity: 1;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 20px;
    color: #FF3C00;
}

/*--- Internal settings for buttons --*/

#url:focus,
#reset:focus,
#submit:focus {
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset;
    border: 2px solid #33A50E;
}

/* ---- Links ---*/

a {
    color: #B2B4B4;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 1px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

a:hover {
    color: rgb(19, 105, 235);
    border-bottom: 1px solid rgb(19, 105, 235);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}